.container {
    max-width: none !important;
    width: 730px;
}

.jumbotron h1 {
    margin-top: -10px;
    font-size: 180px;
}

.jumbotron {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-bottom: 10px;
}

#usersContainer h5 {
    margin-top: -10px;
    padding: 0px;
    line-height: 1;
    font-size: 55px;
}

#usersContainer h4 .glyphicon {
    top: 2px;
}

#logoutButton {
    cursor: pointer;
}

#userMenu .glyphicon {
    top: 2px;
}